.text-right  { text-align: right; }
.text-center { text-align: center; }
.text-mute   { color: $color-grey; }
.pull-right  { float: right; }
.text-success { color: $color-success; }
.hidden {
	display: none;
}