.thumbnail {
 border: 1px solid $thumbnail-border-color;
 width: $thumbnail;
 height: $thumbnail;
 line-height: $thumbnail;
 text-align: center;
 display: inline-block;
 img {
  max-width: 100%;  
 }
}